@tailwind base;
@tailwind components;
@tailwind utilities;

.playpen {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: Medium;
}

.poetsen {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.platypi-bold {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
